.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgb(183, 65, 7, 0.9);
  width: auto;
  height: 70px;
  border: 2px solid black;
  border-radius: 5px;
}
.containerTitle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerTitle img{
  margin-right: 50px;
}
.title{
  color: #301e01;
  font-size: 40px;
}
.button{
  background-color: #ffdf0f ;
  border: 0px;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  margin-right: 50px;
  cursor: pointer;
}
.button:hover{
  background-color: #ffba4b;
  font-weight: bold;
  
}
.link{
  text-decoration: none;
  color: black;
}