@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media(max-width: 500px){
  .container{
    display: none;
    margin: 0px;
    width: 2000px;
  
  }
  .card{
    width: 2000px;
  }

}
.container {
  display: flex;
  background-color: rgba(247, 212, 172, 0.9);
  height: auto;
  width: 220px;
  border-radius: 20px;
  margin: 5px;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s ease;
  animation: fadeIn 1s;
}

.card {
  display: flex;
  color: #503101;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-justify: auto;
  margin: 0px;
}
.container:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.container h1 {
  margin: 20px 20px;
  font-size: 20px;
}
.container h2 {
  margin: 10px 10px;
  font-size: 15px;
}
.container:hover {
  border: 2px solid black;
}

.img {
  width: 90%;
  height: auto;
  border-radius: 20px;
}
