.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #503101;
  height: 280px;
  width: 100%;
  background-color: rgb(255, 195, 116);
  border-radius: 10px;
  padding: 5px;
}
.container select {
  margin: 12px;
  height: 25px;
  font-size: 18px;
  border: 1px solid rgba(87, 54, 16, 0.9);
  border-radius: 5px;
  transition: 0.5s ease;
}
.container select:hover {
  background-color: rgba(247, 175, 92, 0.9);
}
.container span {
  font-size: 20px;
}
