@media (max-width: 500px) {
  .container:focus .search,
  .container:hover .search {
    border: 2px solid #ffdf0f;
    width: 10px;
  }
  
}
.container {
  display: flex;
  margin-left: 20px;
  justify-content: center;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.search {
  padding: 0.2em 0.5em;
  height: 40px;
  width: 50px;
  border-radius: 8px;
  border: 2px solid white;
  transition: 1s ease;
  outline: none;
  margin-right: 20px;
  background-image: url("../../img/busqueda.png");
  background-repeat: no-repeat;
  background-position: right 8px bottom 45%;
  background-size: 20px;
}

.container:focus .search,
.container:hover .search {
  border: 2px solid #ffdf0f;
  width: 500px;
}
.button {
  background-color: #ffdf0f;
  border: 0px;
  font-size: 15px;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.button:hover {
  background-color: #ffba4b;
  font-weight: bold;
}
.link {
  text-decoration: none;
  color: black;
}
