.container{
  display: flex;
  margin-left: 20px;
  justify-content: flex-start;
}
.search{
  padding: 0.2em 0.5em;
  height: 30px;
  border-radius: 8px;
  border: 2px solid white;
  transition: 0.5s ease;
  outline: none;
  margin-right: 20px;

}
.search:focus, .search:hover{
  border: 2px solid #ffdf0f;
}
.button{
  background-color: #ffdf0f ;
  border: 0px;
  border-radius: 5px;
  width: 70px;
  height: 30px;
}
.button:hover{
  background-color: #ffba4b;
  font-weight: bold;
  
}
.link{
  text-decoration: none;
  color: black;
}