.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container select{
  margin-right: 20px;
  margin-left: 20px;
  height: 25px;
  font-size: 18px;
  border: 1px solid rgba(87, 54, 16, 0.9);
  border-radius: 5px;
}
.container select:hover{
  background-color: rgba(247, 212, 172, 0.9);
  ;
}
.container span{
  font-size: 23px;
}